@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Automotive Sales System</h1>
</div>

<div class="container">
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("New Car", "AddCar", "Cars", null, new { @class = "btn btn-primary" })
        }

        @*@Html.ActionLink("Search", "Search", "Bars", null, new { @class = "btn btn-primary" })*@
    </div>
</div>
