@model CarViewModel
@{
    ViewData["Title"] = "Add Car";
}

<h4>Add a Car</h4>
ProductionYear
<div class="row">
    <div class="col-md-4">
        <input asp-for="Id" hidden />
        <form asp-action="AddCar" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="select">
                <select required asp-for="CarModelId"
                        asp-items="@(new SelectList(Model.AllCarModel,"Id","BrandName"))"
                          onchange="populateBrand(event.srcElement.value, 'CarBrandId')">
                    <option value="">Select Brand</option>
                </select>
            </div>
            <br />
            <div class="select">
                <select required asp-for="CarBrandId"
                        asp-items="@(new SelectList(Model.AllCarBrandByModel,"Id","ModelName"))">
                    <option value="">Select Model</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Engine" class="control-label"></label>
                <input asp-for="Engine" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Door" class="control-label"></label>
                <input asp-for="Door" class="form-control" />
                <span asp-validation-for="Door" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductionYear" class="control-label"></label>
                <input asp-for="ProductionYear" class="form-control" />
                <span asp-validation-for="ProductionYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn alert-primary">Create</button>
            </div>

            @{ var errorMessage = (string)(TempData["ErrorMessage"] ?? string.Empty); }
            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> @errorMessage
                </div>
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>